[Unit]
Description=gunicorn daemon for api_neobis project
Requires=gunicorn_api_neobis.socket
After=network.target

[Service]
PermissionsStartOnly=True
User=dastan
Group=www-data
RuntimeDirectory=gunicorn
RuntimeDirectoryMode=0775
PIDFile=/run/gunicorn/pid
WorkingDirectory=/home/dastan/api_neobis
ExecStart=/home/dastan/api_neobis/env/bin/gunicorn \
          --access-logfile /home/dastan/api_neobis/logs/access.log \
          --error-logfile /home/dastan/api_neobis/logs/error.log \
          --pid /run/gunicorn/pid   \
          --env DJANGO_SETTINGS_MODULE=api_project.settings \
          --workers 3 \
          --bind unix:/run/gunicorn/api_neobis_socket mysite.wsgi:application
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
